<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Disasters</title>

    # link to bootstrap cdn
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
  
    # link to jquery
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  
    # link to plotly.js
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>
  
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  
<style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", sans-serif}

body, html {
  height: 100%;
  line-height: 1.8;
}

/* Full height image header */
.bgimg-1 {
  background-position: top;
  background-size: cover;
  min-height: 70%;
}

.w3-bar .w3-button {
  padding: 16px;
}
</style>  

<body>

<div class="w3-top">
  <div class="w3-bar w3-white w3-card" id="myNavbar">
    <!-- Right-sided navbar links -->
    <div class="w3-right w3-hide-small">
      <a href="https://www.udacity.com/" class="w3-bar-item w3-button">Made with Udacity</a>
      <a href="#contact" class="w3-bar-item w3-button">Contact</a>
    </div>
 </div>
</div>
  

 <div class="jumbotron">
    <div class="container-fluid no-padding">
      <img src="https://view6914b2f4.udacity-student-workspaces.com/files/home/workspace/Analysis-of-disaster-response/app/templates/assets/disaster_image.png" alt="disaster_image" class="img-responsive" style="width:100%;height:50%"> 
        <div class="w3-display-left w3-text-white" style="padding:48px" id="home">
          <span class="w3-jumbo w3-hide-small">Disaster Response Project</span><br>
          <span class="w3-large">Analyzing message for disaster response</span>
          <p><a href="#classify" class="w3-button w3-white w3-padding-large w3-large w3-margin-top w3-opacity w3-hover-opacity-off">Find out the right category</a></p>
        </div> 
    </div>     
 </div>
           
        <div class="w3-container" style="padding:128px 16px" id="classify">
            <div class="col-lg-4"></div>
             <div class="col-lg-4 form-group-lg">
                <form action="/go" method="get">
                    <input type="text" class="form-control form-control-lg w3-center" name="query" placeholder="Enter a message to classify">
                     <div class="col-lg-offset-4" style="margin-top:15px">
                        <button type="submit" class="btn btn-lg btn-success">Classify Message</button>
                     </div>
                </form>
             <div>
            <div class="col-4"></div>
        </div>

        {% block message %}
        {% endblock %}
    </div>
</div>

<div class="container">
    {% block content %}
        <div class="page-header">
            <h1 class="text-center">Overview of Training Dataset</h1>
        </div>
    

<!--    {% for id in ids %}
        <div id="{{id}}"></div>
    {% endfor %}-->
  <!-- top two plots-->
  <div class='row'>
    <div class='col-md-6'>
       <div id={{ids[0]}}></div>         
    </div>  
    <div class='col-md-6'>
       <div id={{ids[1]}}></div>         
    </div>   
    
  <!-- bottom three plots-->
  <div class='row'>
    <div class='col-md-4'>
       <div id={{ids[2]}}></div>         
    </div>  
    <div class='col-md-4'>
       <div id={{ids[3]}}></div>         
    </div>   
    <div class='col-md-4'>
       <div id={{ids[4]}}></div>         
    </div>   
  </div>  
  <div style="clear:both"></div> 
  
  {% endblock %}
</div>
  
<script type="text/javascript">
    const graphs = {{graphJSON | safe}};
    const ids = {{ids | safe}};
    for(let i in graphs) {
        Plotly.plot(ids[i], graphs[i].data, graphs[i].layout);
    }
</script>

<!-- Contact Section -->
<div class="w3-container" id="contact">
  <div class="marketing w3-center">
    <h1>Contact</h1>
    <p class="marketing-byline w3-center">Let's get in touch</p>
 
      <ul style="padding-left:300px; list-style: none">
        <li style="float: left; padding: 10px">
          <a href="https://github.com/nabanitarimpi">
          <img src="https://view6914b2f4.udacity-student-workspaces.com/files/home/workspace/Analysis-of-disaster-response/app/templates/assets/githublogo.png" alt="githublogo">
          </a>  
        </li>
        <li style="float:left; padding: 10px">
          <a href="https://www.linkedin.com/in/nabanita-ganguly-28512264/">
          <img href="https://www.linkedin.com/in/nabanita-ganguly-28512264/" src="https://view6914b2f4.udacity-student-workspaces.com/files/home/workspace/Analysis-of-disaster-response/app/templates/assets/linkedinlogo.png" alt="linkedinlogo">
          </a>  
        </li>
        <li style="float:left">
          <a href="https://medium.com/@nabanita.rimpi">
          <img src="https://view6914b2f4.udacity-student-workspaces.com/files/home/workspace/Analysis-of-disaster-response/app/templates/assets/mediumlogo.png" alt="mediumlogo">
          </a>  
        </li>
      </ul>
      <div style="clear:both"></div>  
     
  </div>
</div>  

<!-- Footer section -->
<footer class="w3-center w3-black w3-padding-64">
 <a href="#home" class="w3-button w3-light-grey"><i class="fa fa-arrow-up w3-margin-right"></i>To the top</a>
</footer>
 
</body> 
</html>
